/* @file
 * imager.sass
 */
#imager-wrapper {
  color: #000;
  background-color: #e0e0e0;
}

#imager-wrapper table {
  background-color: #cacaca;
  border-collapse: separate;
  border-spacing: 2px;
}

#imager-wrapper table td {
  line-height: 1;
  border-top: 0;
  padding: 2px;
}

#imager-wrapper table th {
  color: #cacaca;
  background-color: #666;
}

#imager-hidden-form {
  display: none;
}

#imager-viewer.fullscreen {
  width: 100%;
}

.imager-viewer-dialog {
  position: fixed;
  z-index: 1010 !important;
}

.imager-viewer-dialog .ui-dialog-titlebar {
  display: none;
}

#imager-viewer {
  overflow: auto;
  padding: 2px;
  background-color: #aaa;
}

#imager-viewer button {
  background-color: #cacaca;
}

#imager-viewer #imager-canvas-wrapper {
  margin: 0;
  float: left;
  position: relative;
}

#imager-viewer #imager-canvas-wrapper #imager-canvas {
  position: absolute;
  top: 0;
  right: 0;
}

#imager-viewer #imager-canvas-wrapper #imager-image {
  position: absolute;
  top: 0;
  right: 0;
}

#imager-viewer #button-wrapper {
  float: left;
}

#imager-viewer #button-wrapper div {
  text-align: center;
}

#imager-viewer #button-wrapper .buttons {
  background-color: #e0e0e0;
  padding: 2px 1px;
  margin: 0 2px 2px 0;
  text-align: center;
  font-size: 60%;
}

#imager-viewer #button-wrapper .buttons img {
  border-radius: 0px;
  display: block;
  padding: 2px;
  margin: 0 auto;
}

#imager-viewer #button-wrapper .buttons .checked {
  background-color: #aaa;
}

#imager-viewer #button-wrapper .buttons .disabled {
  background-color: #aaa;
}

#imager-viewer #button-wrapper .buttons .specific {
  background-color: #666;
}

.imager-buttons {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #f0f0f0;
}

.imager-buttons img {
  padding: 4px;
}

#imager-info {
  padding: 5px;
  background-color: #e0e0e0;
}

#imager-info .title {
  text-align: center;
  word-wrap: break-word;
}

#imager-info .filename {
  text-align: center;
}

#imager-info .error {
  background-color: #c00;
  color: #fff;
}

#imager-info .field-name-sfield-owner,
#imager-info .field-name-sfield-filename,
#imager-info .field-name-sfield-filesize,
#imager-info .field-name-sfield-geometry {
  float: none;
  clear: both;
}

#imager-info #imager-info-geometry {
  clear: both;
}

#imager-info #imager-info-content img.imager-info-edit {
  float: left;
  clear: both;
}

#imager-info #imager-info-content section {
  float: left;
}

#imager-edit {
  padding: 10px;
  background-color: #cacaca;
}

#imager-edit .form-item {
  margin: 0;
}

#imager-edit .description {
  font-style: italic;
  margin-top: 10px;
  max-width: 500px;
}

#imager-edit .form-text {
  width: 500px;
}

#imager-edit table.cke_editor {
  background-color: #ccc;
  border-radius: 0;
}

#imager-edit table.cke_editor body {
  background-image: none;
}

#imager-edit .field-widget-text-textarea .fieldset-wrapper {
  margin: 0;
}

#imager-edit .field-widget-text-textarea fieldset .form-wrapper {
  display: none;
}

.imager-confirm-dialog .ui-dialog-titlebar {
  display: none;
}

#imager-confirm {
  max-width: 700px;
  z-index: 1020;
  background-color: #cacaca;
  padding: 1.2em 10px 0;
}

#imager-confirm .imager-content {
  margin: 0;
}

#imager-confirm #imager-confirm-content {
  font-size: 140%;
  padding: 0 2em;
}

#imager-confirm #imager-confirm-buttons {
  position: static;
  margin: 0 auto;
  width: 53px;
  float: none;
}

#imager-map {
  max-width: 800px;
  padding: 5px;
  position: fixed;
  background-color: #888;
  z-index: 1013;
}

#imager-map .description {
  max-width: 300px;
}

#imager-messages.error {
  background: #c00 none;
}

#imager-messages {
  background-color: #aaa;
  padding: 10px;
  font-size: 80%;
}

#imager-messages .error {
  padding: 0.5em;
  background-color: #c00;
  color: white;
  font-size: 130%;
}

#imager-filesave {
  padding: 5px;
  background-color: #aaa;
}

#imager-filesave #imager-filesave-filename {
  width: 15em;
  font-size: 90%;
}

#imager-filesave #resolution {
  margin: 0 auto 10px;
  width: auto;
}

#imager-brightness,
#imager-color {
  background-color: #aaa;
}

#imager-brightness .error,
#imager-color .error {
  background-color: #c00;
}

#imager-brightness .slider,
#imager-color .slider {
  -webkit-appearance: none;
  z-index: 1060;
}

#imager-brightness #slider-hue,
#imager-color #slider-hue {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple);
}

#imager-brightness #slider-saturation,
#imager-color #slider-saturation {
  background-image: linear-gradient(to right, #c8c8c8, rgba(200, 200, 200, 0.4), rgba(200, 200, 200, 0)), linear-gradient(red, yellow, #008888);
}

#imager-brightness #slider-lightness,
#imager-brightness #slider-brightness,
#imager-color #slider-lightness,
#imager-color #slider-brightness {
  background: linear-gradient(to right, #000, #fff);
}

#imager-brightness #slider-contrast,
#imager-color #slider-contrast {
  background-image: linear-gradient(to right, #888, #666, #222, #000), linear-gradient(to right, #888, #aaa, #ddd, #fff);
  background-size: 100% 50%, 100% 50%;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}

#imager-email {
  position: fixed;
  z-index: 1050;
  padding: 10px;
  background-color: #aaa;
}

#imager-email table {
  margin: 0 auto;
  width: auto;
}

#imager-email input {
  width: 97%;
}

#imager-email #resolution {
  margin: 0 auto 10px;
  width: auto;
}

#imager-busy {
  display: none;
  position: fixed;
  top: 400px;
  left: 600px;
  z-index: 1110;
}

.imager .views-row {
  line-height: 1.1;
  font-size: 90%;
  float: left;
  margin: 10px;
  width: 190px;
  height: 200px;
}

div#main {
  width: auto;
}

.imager-noclose .ui-dialog-titlebar-close {
  display: none;
}

.dialogStatus {
  position: fixed;
  z-index: 1014;
  background-color: #aaa;
}

.imager-dialog {
  position: fixed;
  background: #f0f0f0;
}

.imager-dialog legend {
  line-height: 1.5;
  margin: 10px 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #aaa;
  font-size: 140%;
}

.imager-dialog .imager-content {
  margin: 0;
  padding: .25em .5em;
}

.imager-dialog table {
  margin: 0;
}

.imager-dialog tr td,
.imager-dialog tr th {
  padding: 2px 8px;
}

.imager-dialog .ui-dialog-titlebar {
  padding: 0 0 0 1em;
}

.imager-dialog .ui-dialog-title {
  margin: 0 1em 0 0;
}

.imager-dialog .ui-dialog-buttonpane {
  padding: 0 .5em 0 0.4em;
}

.imager-dialog .ui-button-text {
  padding: 0.2em 0.5em;
}

.imager-dialog .form-item input {
  font-size: 100%;
}

.imager-dialog .form-item .option {
  font-size: 100%;
  padding-left: 0.5em;
}

.imager-dialog .form-item .description {
  color: #666;
}

.imager-dialog #imager-status-content {
  text-align: center;
}

.imager-dialog #imager-status-content .imager-status-col {
  float: left;
  margin: 3px 3px 25px;
}

.imager-dialog #imager-status-content .imager-text-right {
  text-align: right;
}

.imager-dialog #imager-status-content table {
  border-spacing: 0;
  margin-bottom: 6px;
}

.imager-dialog #imager-status-content table th {
  padding: 2px 4px;
}

.imager-dialog #imager-status-content table td {
  min-width: 3em;
  padding: 3px;
}

.imgareaselect-outer {
  z-index: 1011 !important;
}

/*
html, body {
  overflow: hidden;
  height: 100%;
}

#main-wrapper,
#page-wrapper {
  overflow-y: scroll;
  height: 100%;
}
*/

/*# sourceMappingURL=imager.css.map */
