/* @file
 * imager_custom.sass
 *
 * Defines styles to give the imager some color, rounded corners, etc.
 * This file is not included in the imager library.
 * Copy it into your local scss files and modify it there.
 */

$color-content-bg: #f1f1f0;
$color-viewer-bg: #5d5e98;
$color-table-bg: #f1f1f0;
$color-table-header-bg: #3d4e78;
$color-button-fg: #111111;
$color-button-bg: #f1f1f0;
$color-button-checked-bg: #bcccff;
$color-title-bg: #c1d0e7;
$color-buttonpane-bg: #c1d0e7;
$color-table-header-bg: #5f80b6;
$color-table-data-bg: #c1d0e7;
$radius-outer: 6px;
$radius-inner: 4px;
$radius-button: 2px;

#imager-wrapper {
  
  .imager-title {
    background-color: $color-title-bg;
    border-radius: $radius-outer $radius-outer 0 0;
  }

  .imager-content {
    background-color: $color-content-bg;
  }

  .imager-buttonpane {
    background-color: $color-buttonpane-bg;
    border-radius: 0 0 $radius-outer $radius-outer;
  }

  .imager-button {
    border-radius: $radius-inner;
  }

  .imager-slider {
    border-radius: $radius-inner;
    height: 2em;
  }

  table {
    border-radius: $radius-outer;
    border-collapse: separate;
    border-spacing: 2px;
    th {
      background-color: $color-table-header-bg;
      &:first-child {
        border-radius: $radius-inner 0 0 0;
      }
      &:last-child {
        border-radius: 0 $radius-inner 0 0;
      }
      &:only-child {
        border-radius: $radius-inner $radius-inner 0 0;
      }
    }
    td {
      background-color: $color-table-data-bg;
      line-height: 1;
      border-top: 0;
      padding: 2px;
    }
  }
}

#imager-viewer {
  .imager-content {
    background-color: $color-viewer-bg;
  }
  #button-wrapper {
    .imager-buttons {
      border-radius: $radius-button;
      background-color: $color-button-bg;
      color: $color-button-fg;
      a {
        img {
          border-radius: $radius-inner;
        }
        &.checked {
          img {
            background-color: $color-button-checked-bg;
          }
        }
      }
      .disabled {
      }
    }
  }
}

#imager-brightness,
#imager-color {
  table {
    td {
      padding: 0;
      background-color: $color-content-bg;
    }
  }
}

#imager-config {
  fieldset {
    > div {
      margin-left: 2em;
    }
  }
}
