/* @file
 * imager.sass
 */

$spacing: 10px;

.imager-image {
  cursor: pointer;
}

#imager-wrapper {

  .imager-popup {
    background-color: #bbb;
    position: fixed;
    z-index:600;
  }

  .imager-title {
    font-size: 120%;
    font-weight: bold;
    padding: $spacing;
  }

  .imager-content {
    padding: $spacing;
  }

  .imager-buttonpane {
    width: 100%;
    height: 2.7em;
    input.button {
      display: inline-block;
      float: right;
      padding: 8px 12px;
      margin: 5px 5px 0 0;
      &:first-child {
      }
    }
  }

  .imager-slider {
    line-height: 1;
    -webkit-appearance: none;
  }

  table {
    th {
      padding: 0 5px;
    }
    td {
      padding: 0 5px;
    }
  }
}

#imager-busy {
  position: fixed;
  top: 300px;
  left: 500px;
  z-index: 1110;
}

#imager-viewer {
  overflow: hidden;
  &.fullscreen {
    width: 100%;
  }
  .imager-content {
//  background: $grey;
    padding: 3px;
  }
  #imager-canvas-wrapper {
    display: inline-flex;
    position: relative;
    vertical-align: bottom;
    margin-bottom: 0px;
    #imager-image,
    #imager-canvas {
      display: block;
      width: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
  }
  #button-wrapper {
    vertical-align: top;
    display: inline-block;
    margin-right: 3px;
    background-color: #bbb;
    div {
      text-align: center;
    }
    .imager-buttons {
      width: 28px;
      padding: 2px 0;
      margin: 0 0 2px;
      text-align: center;
      font-size: 65%;
      a {
        img {
          display: block;
          margin: 0 auto;
          padding: 3px;
        }
      }
      &#debug-buttons {
        z-index: 1009;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

#imager-brightness {
  #slider-contrast {
    background-image: linear-gradient(to right, #888, #666, #222, #000), linear-gradient(to right, #888, #aaa, #ddd, #fff);
    background-size: 100% 50%, 100% 50%;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
  }
  #slider-brightness {
    background: linear-gradient(to right, #000000, #ffffff);
  }
}

#imager-color {
  #slider-hue {
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple);
  }
  #slider-saturation {
    background-image: linear-gradient(to right, rgba(200, 200, 200, 1), rgba(200, 200, 200, 0.4), rgba(200, 200, 200, 0)), linear-gradient(red, yellow, #008888);
  }
  #slider-lightness {
    background: linear-gradient(to right, #000000, #ffffff);
  }
}

#imager-config {
  min-width: 300px;
  legend,
  fieldset {
    margin: 0;
  }
}

#imager-info {
  min-width: 22em;
  max-width: 35em;
  .field--name-name {
    font-size: 120%;
    margin-bottom: 8px;
  }
}

#imager-status {
  .imager-status-col {
    display: inline-block;
    vertical-align: top;
  }
  #imager-status-col-1 {
    td {
      min-width: 6em;
    }
  }
  table {
    margin-bottom: $spacing;
    th {
      min-width: 4em;
    }
    td {
      min-width: 4em;
    }
  }
}


